<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc" 
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:websocket="http://www.springframework.org/schema/websocket"
    xsi:schemaLocation="http://www.springframework.org/schema/mvc 
    	http://www.springframework.org/schema/mvc/spring-mvc.xsd
    	http://www.springframework.org/schema/beans 
    	http://www.springframework.org/schema/beans/spring-beans.xsd  
    	http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/websocket
		http://www.springframework.org/schema/websocket/spring-websocket.xsd"
		default-lazy-init="true">
 	
    <context:component-scan base-package="com.mall" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
    
    <!-- freemarker config -->
    <bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
      <property name="templateLoaderPath" value="/WEB-INF/templates/"/>
      <property name="freemarkerSettings">
      	<props>
      		<prop key="defaultEncoding">utf-8</prop>
      		<prop key="output_encoding">utf-8</prop>
      		<prop key="number_format">#.####</prop>
      		<prop key="date_format">yyyy-MM-dd</prop>
      		<prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
      		<prop key="template_exception_handler">ignore</prop>
      		<prop key="boolean_format">true,false</prop>
      		<prop key="locale">zh_CN</prop>
      	</props>
      </property>
    </bean>
     
    <!-- View Resolver config -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
      <property name="cache" value="true"/>
      <property name="prefix" value=""/>
      <property name="suffix" value=".ftl"/>
      <property name="contentType" value="text/html; charset=utf-8" />
    </bean>
        
    <!-- file upload -->
    
    <!-- Interceptor -->
    <mvc:interceptors>
    	<mvc:interceptor>
    		<mvc:mapping path="/**"/>
    		<bean class="com.mall.interceptor.CommonPageInterceptor" />
    	</mvc:interceptor>
    	<mvc:interceptor>
    	    <mvc:mapping path="/admin/**"/>
    		<bean class="com.mall.interceptor.AdminSecurityInterceptor" />
    	</mvc:interceptor>
    </mvc:interceptors>
	<!-- aop -->
    <aop:aspectj-autoproxy />
    
    <!-- annotation driven -->
    <mvc:annotation-driven/>
    
</beans>